__pycache__/
*.py[cod]
.Python
.venv/
venv/
.env
*.log

results/
scores/

database/emb_data/*.npy
database/emb_data/**/*.npy
database/raw_data/*_export.jsonl

eval_scripts/settings.json

.DS_Store
.idea/
.vscode/
